{
  "singleQuote": true,
  "trailingComma": "all",
  "semicolons": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "printWidth": 130
}
